@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="SaaS Database Design"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <!-- Graph CSS -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Content/icon-font.min.css" type="text/css" />
    <!-- //lined-icons -->
    <!-- chart -->
    <script src="~/Scripts/NewDesign/Chart.js"></script>
    <!-- //chart -->
    <!--animate-->
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Scripts/NewDesign/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!----webfonts--->
    <link href="//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic" rel="stylesheet" type="text/css">
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script src="~/Scripts/NewDesign/jquery-1.10.2.min.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>

<body class="sticky-header left-side-collapsed" onload="initMap()">
    <section>
        <!-- left side start-->
        <div class="left-side sticky-left-side">

            <!--logo and iconic logo start-->
            <div class="logo">
                <h1><a href="~/Home/Index">PTSK <span> VB-sı

                                                </span></a></h1>
            </div>
            <div class="logo-icon text-center">
                <a href="~/Home/Index"><i class="lnr lnr-home"></i></a>
            </div>

            <!--logo and iconic logo end-->
            <div class="left-side-inner">

                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li><a href="~/Tenant/Index"><i class="lnr lnr-book"></i><span>Müştəri Məlumatları</span></a></li>
                     <li><a href="~/DatabaseOperations/DatabaseSchemaCustomization"><i class="lnr lnr-pencil"></i><span>VB Sxema Dəyişiklikləri</span></a></li>
                    <li><a href="~/DatabaseOperations/Tables"><i class="lnr lnr-menu"></i><span>Cədvəllər</span></a></li>

                </ul>
                <!--sidebar nav end-->
            </div>
        </div>
        <!-- left side end-->

        <!-- main content start-->
        <div class="main-content main-content2 main-content2copy">
            <!-- header-starts -->
            <div class="header-section">

                <!--toggle button start-->
                <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
                <!--toggle button end-->

                <!--notification menu start -->
                <div class="menu-right">
                    <div class="user-panel-top">
                        <div class="profile_details_left">
                        </div>
                        <div class="profile_details">
                            @if (Request.IsAuthenticated)
                            {
                                <ul>
                                    <li class="dropdown profile_details_drop">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <div class="profile_img">
                                                <div class="user-name">
                                                    <p>@User.Identity.Name<span></span></p>
                                                </div>
                                                <i class="lnr lnr-chevron-down"></i>
                                                <i class="lnr lnr-chevron-up"></i>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu drp-mnu">
                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Çıxış</a> </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            }
                            else
                            {
                                
                                
                                <ul>
                                    <li class="dropdown profile_details_drop">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <div class="profile_img">
                                                <span></span>
                                                <div class="user-name">
                                                    <p>Hesab<span>Əməliyyatları</span></p>
                                                </div>
                                                <i class="lnr lnr-chevron-down"></i>
                                                <i class="lnr lnr-chevron-up"></i>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu drp-mnu">
                                            <li><a href="~/Account/Register"><i class="fa fa-cog"></i>Qeydiyyatdan keç</a> </li>
                                            <li><a href="~/Account/Login"><i class="fa fa-user"></i>Daxil ol</a> </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            }
                        </div>

                        <div class="social_icons">

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--notification menu end -->
            </div>
            <!-- //header-ends -->
            <div id="page-wrapper">


                @RenderBody()




            </div>
            <!--footer section start-->
            <footer>
              <p>&copy @DateTime.Now.Year PTSK Verilənlər Bazası Arxitekturası. Bütün hüquqlar qorunur.</p>
            </footer>
            <!--footer section end-->
            </div>
    </section>

    <script src="~/Scripts/NewDesign/jquery.nicescroll.js"></script>
    <script src="~/Scripts/NewDesign/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/NewDesign/bootstrap.min.js"></script>
</body>
</html>
